@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'k2d';
  src: url('/fonts/K2D-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: 'k2d', sans-serif;
}


html {
  overflow-x: hidden
}

.g {
  color: #0000005e; 
  
}

input, select {
  @apply focus-within:border-primary border-2 outline-none
}

.text-link {
  @apply sm:border-b-4 border-white hover:text-primary transition-all hover:border-primary
}
 

.cover {
  background-size: cover!important;
}

.z-500 {
  z-index: 9!important;
}

.z-600 {
  z-index: 9999!important;
}